.row1VowelTest {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-height: 480px;
  padding: 0;
  border-bottom: 1px solid rgba(245, 245, 245, 0.7);
}
.columnAVowelTest {
  background-color: rgba(245, 245, 245, 0.8);
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  min-width: 225px;
  padding: 3vh 0.5vw;
}
.columnBVowelTest {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 5;
  min-height: 540px;
  min-width: 304px;
}
.vowelTestCard {
  display: none;
  background-color: rgba(245, 245, 245, 0.9);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-width: 300px;
  margin: 45px auto;
  border-radius: 6px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);
  padding: 18px;
}
#testIntroCard {
  min-width: 300px;
}
#testIntroCard,
#vowelTestDisplayCard {
  animation-delay: 0.2s;
  animation: fadein 0.5s;
}
@keyframes fadein {
  from { opacity: 0; color: white; }
  to   { opacity: 1; color: #000000; }
}

.testCardLeft{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 5;
  min-width: 285px;
}
.testCardRight {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  min-width: 180px;
  text-align: center;
}
.testTopicsTitle {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 3px 0;
  background-color: rgba(154, 205, 50, 0.6);
  border: 1px solid rgb(154, 205, 50);
}
.testTopicsList {
  margin: 15px;
  padding: 0;
}
.testTopics {
  margin: 3px 0;
  padding: 3px 0 3px 9px;
  list-style-type: none;
  border: 1px solid rgba(245, 245, 245, 0.1);
}
.testTopics:hover {
  cursor: pointer;
  background-color: rgba(154, 205, 50, 0.6);
  border: 1px solid yellowgreen;
}
.testTopics:active {
  background-color: rgba(123, 123, 123, 0.8);
  border: 1px solid yellowgreen;
}
.vowelTestTitle {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 9px;
}
.vowelTestIntroP {
  font-size: 1rem;
  margin: 12px;
}
.vowelTestP {
  font-size: 0.95rem;
  line-height: 1rem;
  margin: 6px 0;
  width: 98%;
  min-width: 279px;
}
.vowelTestPSpan {
  font-size: 0.8rem;
  font-weight: 700;
}
.vowelTestRadio {
  margin: 0 -3px 2px 9px;
  vertical-align: middle;
  width: 2.5vw;
  height: 2.5vh;
}
.testPlayer {
  height: 30px;
  width: 60%;
  min-width: 270px;
  border: 3px solid rgba(154, 205, 50, 0.6);
  background-color: rgba(154, 205, 50, 0.6);
  margin: 6px 0 21px 0;
}
.quizItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.quizFirstHalf {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  min-width: 240px;
}
.quizSecondHalf {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  min-width: 240px;
}
.questionItem {
  margin: 0 0 15px 9px;
}
.buttonRow {
  text-align: center;
  margin: 6px 3px 12px 3px;
}
.checkTest {
  font-size: 0.7rem;
  padding: 2px 6px;
  margin-right: 3px;
  border-radius: 4px;
  background-color: rgb(206, 206, 206);
}
.checkTest:hover {
  border: 2px solid grey;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.checkTest:active {
  background-color: rgba(154, 205, 50, 0.7);
}
.testResults {
  margin-bottom: 6px;
  border-top: 1px solid rgba(123, 123, 123, 1);
  border-bottom: 2px solid rgba(123, 123, 123, 1);
}
.testTally {
  margin: 2px 0;
}
.testAnswerTitle {
  margin-top: 12px;
  font-weight: 700;
}
.testAnswers {
  font-size: 0.95rem;
  margin: 2px 0;
}
.correctAnswer {
  display: none;
}


@media only screen and (min-width: 475px) {
  .vowelTestCard {
    width: 90%;
    margin: 12px auto;
  }
}


@media only screen and (min-width: 840px) {
  .buttonRow {
    text-align: right;
    margin: 6px 9px;
  }
  .checkTest {
    font-size: 0.8rem;
    padding: 2px 9px;
    margin-right: 12px;
  }
  .vowelTestCard {
    margin: 45px auto;
  }
  .testCardLeft{
    margin-right: 6px;
  }
  .testCardRight {
    border-left: 2px solid rgba(123, 123, 123, 1);
  }
  .testResults {
    margin-left: 9px;
  }
}
