.row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.columnA {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 3;
  min-width: 300px;
  overflow: hidden;
  padding: 0 2vw;
}
.columnB {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 5;
/*  border-top: 5px solid rgba(245, 245, 245, 0.3);
  border-left: 5px solid rgba(245, 245, 245, 0.3);
  border-bottom: 5px solid rgba(245, 245, 245, 0.3); */
  box-shadow: inset 2px 0 18px  rgba(0, 0, 0, 0.7);
  max-height: 540px;
  min-width: 304px;
  padding: 2vh 2vw;
  overflow: hidden;
  overflow-y: scroll;
}
#intro {
  position: relative;
  width: 300px;
  margin: 60px auto 60px auto;
  background-color: rgba(111, 111, 111, 0.9);
  padding: 18px;
  text-align: center;
  color: rgb(240, 230, 255);
  border-radius: 0;
  -webkit-transition: color 1s ease, text-shadow 2.5s ease;
  -moz-transition: color 1s ease, text-shadow 2.5s ease;
  -o-transition: color 1s ease, text-shadow 2.5s ease;
  transition: color 1s ease, text-shadow 2.5s ease;
}
#intro:hover {
  color: rgba(248, 245, 49, 0.9);
  text-shadow: 0px 0px 9px rgba(210, 232, 250, 0.4), 0px 0px 18px rgba(255, 255, 255, 0.6);
}

#intro:before{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  border-radius: 0;
  background: #fff;
  z-index: -1;
}
#intro:after{
  content: '';
  position: absolute;
  top: -9px;
  left: -9px;
  bottom: -2px;
  right: -2px;
  border-radius: 0;
  background: #fff;
  z-index: -2;
  filter: blur(15px);
}
#intro:before {
  background: linear-gradient(-30deg, #d2e8fa, #5a5a5a, #f8f531);
}
#intro:after {
  background: linear-gradient(-30deg, #d2e8fa, #fcfcfc, #f8f531);
}

#introTitle {
  font-size: 1.7rem;
  line-height: 1.5rem;
  margin-bottom: 6px;
  font-weight: 700;
}
#subTitle {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 600;
  font-style: italic;
}
.topicCard {
  min-height: 120px;
  width: 85%;
  min-width: 300px;
  background-color: rgba(123, 123, 123, 0.85);
  border: 0px solid rgba(245, 245, 245, 0.3);
/*  box-shadow: 0px 6px 12px 1px rgba(0, 0, 0, 0.6); */
  margin: 15px auto 36px auto;
  padding: 12px 18px;
  color: rgb(40, 40, 40);
}
.topicA {
  background-color: rgba(180, 180, 180, 0.8);
}
.topicB {
  background-color: rgba(179, 223, 91, 0.7);
}
.topicC {
  background-color: rgba(221, 184, 121, 0.8);
}
.topicD {
  background-color: rgba(135, 158, 202, 0.7);
}
.topicE {
  background-color: rgba(218, 161, 148, 0.8);
}

.scrollTitle {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 9px;
}
.scrollP {
  font-size: 0.95rem;
  line-height: 1.2rem;
  margin-bottom: 9px;
}

.row2 {
  width: 100%;
  background-color: rgba(245, 245, 245, 0.5);
  color: rgb(54, 54, 54);
}
.topTenRoll {
  min-height: 510px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 1px;
}
.topTenHeader {
  padding: 21px 0 12px 0;  
}
#topTenTitle {
  display: inline-block;
  margin: 0 0 0 3vw;
  font-size: 1.6rem;
  font-weight: 700;
  font-style: italic;
}
#topTenSubtitle{
  display: inline-block;
  margin: 0 3vw;
  color: rgb(54, 54, 54);
  font-size: 1.1rem;
  font-weight: 600;
}
.tipButtonRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
}
#arrowButton1,
#arrowButton2 {
  background-color: rgba(123, 123, 123, 0.5);
  border: 2px solid rgba(123, 123, 123, 0.6);
  color: rgb(54, 54, 54);
}
#arrowButton1:hover,
#arrowButton2:hover {
  cursor: pointer;
  background-color: rgba(123, 123, 123, 0.2);
}
#arrowButton1:active,
#arrowButton2:active {
  color: yellowgreen;
  border: 2px solid yellowgreen;
}
.topTenP {
  display: inline-block;
  color: rgb(54, 54, 54);
  background-color: rgba(154, 205, 50, 0.7);
  border: 1px solid yellowgreen;
  padding: 6px;
  text-align: center;
  font-size: 1rem;
  line-height: 1.1rem;
  font-style: italic;
}
.topten {
  display: none;
  width: 95%;
  min-height: 366px;
  margin: 15px auto;
  background-color: whitesmoke;
  border-radius: 9px;
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.5);
  padding: 18px 24px;
}
.topten p,
.topten li {
animation: fadein 1s;
}
@keyframes fadein {
  from { opacity: 0; color: white; }
  to   { opacity: 1; color: rgb(54, 54, 54); }
}
.tipTitle {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 6px;
}
#subdiv1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
  padding: 9px 0;
}
.exampleDiv1 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  min-width: 240px;
  margin: 0 9px;
}
.exampleStart {
  font-weight: 700;
}
.tipImg {
  margin-left: 2px;
  margin-top: 6px;
  max-height: 111px;
  float: right;
}
.tipParag {
  font-size: 0.95rem;
  line-height: 1.3rem;
  margin-bottom: 6px;
}
.tipParagInset {
  margin: 0 2vw 6px 2vw;
}
.subtitle {
  margin-top: 12px;
}

@media only screen and (min-width: 475px) {
  .tipImg {
    margin-left: 4px;
    margin-right: 6px;
    max-height: 129px;
  }
}


@media only screen and (min-width: 600px) {
  .columnA {
    min-width: 340px;
  }
  .columnB {
    min-width: 360px;
  }
  #intro {
    margin: 75px auto 45px auto;
  }
}


@media only screen and (min-width: 840px) {
  .topten {
    width: 85%;
  }
}

@media only screen and (min-width: 1000px) {
  .topTenRoll {
    width: 90%;
  }
}